*, *:before, *:after {
    box-sizing: border-box;
}
  
body {
    flex: 1;
}
a* {
    text-decoration: none;
}
.container-nav {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    position: fixed;
}
.navbar {
    /* margin: 0;
    padding: 0; */
    display: flex;
    justify-content: flex-start;
    list-style: none;
    gap: 3rem;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #124076;
}

.container {
    margin: 0;
}

#heroes {
    background-color: #124076;
    width: 100%;
    margin: 0;
}

.hero-container {
    display: flex;
    flex-shrink: 1;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    width: 100%;
}

.hero-container text {
    text-align: left;
    margin-right: auto;
}

.text h1 {
    color: white;
    font-family: "Alice", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 6rem;
    margin-bottom: 0;
}

.text p {
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

.hero-container img {
    margin-left: 0;
}

.about-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.about-container img {
    height: 200px;
    border-radius: 50%;
    margin-top: 5rem;
}

#about-me {
    background-color: #FFF3C7;
    display: block;
}

.about-container h2 {
    color: #7F9F80;
    font-size: 3rem;
    font-family: "Alice", serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1%;
    text-align: center;
}

.about-container p {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-top: 0;
}

#skills {
    position: relative;
    background-color: #FFF3C7;
    display: flex;
    justify-content: center;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 0.5fr 1fr;
    height: 600px;
    width: 100%;
}
.skills-heading {
    grid-column: 1/ span 4;
    margin-left: 60px;
    font-size: 2.5rem;
}
.skills-heading h2 {
    color: #7F9F80;
    margin-bottom: 0;
    font-family: "Alice", serif;
    font-weight: 600;
    font-style: normal;
}
.web-skill {
    display: flex;
    justify-content: center;
    height: 330px;
}
.data-analytics {
    display: flex;
    justify-content: center;
    height: 300px;
}

.list-skills ul{
    padding-left: 0;
}
.web-text h3, .data-text h3{
    display: flex;
    color: #7F9F80;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}
.web-text ul, .data-text ul {
    color: #000000;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}
.data-text ul {
    margin-right: 50px;
}

#projects {
    background-color: #7F9F80;
    display: flex;
    justify-content: center;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1fr;
    height: 1400px;
    width: 100%;
}

.projects-heading {
    grid-column: 1/ span 2;
    margin-left: 60px;
    font-size: 2.5rem;
}
.projects-heading h2 {
    color: #FFF3C7;
    margin-bottom: 0;
    font-family: "Alice", serif;
    font-weight: 600;
    font-style: normal;
}
.bike-sharing, .resume {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.bike-sharing img{
    grid-row: 2;
    grid-column: 1;
    height: 400px;
    border: 5px solid #FFF3C7;
    border-radius: 5%;
}

.bike-text h3, .resume-text h3 {
    display: flex;
    color: #FFF3C7;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}
.bike-text .list-projects {
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin-right: 50px;
}

.resume img{
    grid-row: 3;
    grid-column: 2;
    width: 500px;
    height: 400px;
    border: 5px solid #FFF3C7;
    border-radius: 5%;
}
.resume-text p{
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin-right: 50px;
}

#contact {
    background-color: #FFC374;
    display: flex;
    justify-content: center;
}

.contact-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr;
    width: 100%;
}

.head-contact {
    grid-column: 1/ span 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
    margin-left: 60px;
}
.head-contact h2 {
    color: #124076;
    margin-bottom: 0;
    font-family: "Alice", serif;
    font-weight: 600;
    font-style: normal;
}
.email, .instagram, .linkedin{
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-content: center;
    align-items: center;
    color: #124076;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
}

.container-footer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-footer p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #124076;
}

@media (min-width: 481px) and (max-width: 1200px){
    .navbar {
        padding-left: 0;
        justify-content: center;
    }
    .hero-container img {
        margin-left: 0;
        width: 400px;
    }
    .text h1 {
        font-size: 3rem
    }
    .text p {
        font-size: 1.7rem;
    }

    .about-container img {
        height: 150px;
    }
    .about-container h2 {
        font-size: 2.5rem;
    }
    .about-container p {
        font-size: 1.5rem;
    }

    #skills {
        flex-direction: column;
    }
    .skills-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 1fr 1fr;
        height: 1100px;
    }
    .skills-heading {
        grid-column: 1/ span 2;
        margin-left: 60px;
        font-size: 2rem;
    }
    .web-skill {
        height: 300px;
    }
    .data-analytics {
        height: 300px;
    }
    .web-text h3, .data-text h3 {
        font-size: 1.7rem;
    }
    .web-text ul, .data-text ul{
        font-size: 1.4rem;
    }

    #projects {
        flex-direction: column;
    }
    .projects-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 0.5fr 1fr 0.5fr;
        height: 2000px;
    }
    .projects-heading{
        display: flex;
        justify-content: center;
        grid-column: 1;
        margin-left: 0;
        font-size: 2rem;
        align-items: center;
    }
    .bike-sharing{
        grid-column: 1;
        grid-row: 2;
        display: flex;
        align-items: flex-end;
    }
    .resume{
        grid-column: 1;
        grid-row: 4;
        display: flex;
        align-items: flex-end;
    }
    .bike-sharing, .resume{
        align-items: center;
    }
    .bike-text, .resume-text {
        margin-left: 70px;
    }
    .bike-text h3, .resume-text h3 {
        font-size: 1.7rem;
    }
    .resume-text p, .bike-text .list-projects {
        font-size: 1.5rem;
    }

    .head-contact{
        font-size: 2rem;
    }
    .email img, .instagram img, .linkedin img{
        width: 100px;
    }
    .email, .instagram, .linkedin {
        font-size: 1rem;
    }
    .container-footer p {
        font-size: 1rem;
    }
}    

@media (max-width: 480px) {
    .navbar {
        gap: 2rem;
        padding-left: 0;
        justify-content: center;
        font-size: 0.5rem;
    }
    .hero-container {
        height: 300px;
    }
    .hero-container img{
        width: 150px;
    }
    .text h1 {
        font-size: 2rem
    }
    .text p {
        font-size: 1.3rem;
    }

    .about-container img {
        height: 100px;
    }
    .about-container h2 {
        font-size: 1.8rem;
    }
    .about-container p {
        font-size: 1.2rem;
    }

    #skills {
        flex-direction: column;
    }
    .skills-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.8fr 1fr 0.8fr 1fr;
        height: 1000px;
        align-items: flex-end;
    }
    .skills-heading {
        display: flex;
        justify-content: center;
        grid-column: 1;
        margin-left: 0;
        font-size: 1.5rem;
    }
    .web-skill {
        display: flex;
        height: 150px;
    }
    .data-analytics {
        height: 150px;
    }
    .web-text h3, .data-text h3 {
        justify-content: center;
        font-size: 1.3rem;
    }
    .web-text ul, .data-text ul{
        margin-left: 60px;
        justify-content: center;
        font-size: 1rem;
    }
    .data-text ul {
        margin-bottom: 50px;
    }

    #projects {
        flex-direction: column;
    }
    .projects-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.8fr 0.5fr 0.8fr 0.5fr;
        height: 1200px;
    }
    .projects-heading{
        display: flex;
        justify-content: center;
        grid-column: 1;
        font-size: 1.5rem;
        margin-left: 0;
        align-items: flex-end;
    }
    .bike-sharing{
        grid-column: 1;
        grid-row: 2;
        display: flex;
        align-items: flex-end;
    }
    .resume{
        grid-column: 1;
        grid-row: 4;
        display: flex;
        align-items: flex-end;
    }
    .bike-sharing, .resume{
        display: flex;
        align-items: flex-end;
    }
    .bike-sharing img, .resume img  {
        width: 250px;
        height: 150px;
        margin-bottom: 0;
    }
    .resume-text {
        align-items: flex-start;
    }
    .bike-text h3, .resume-text h3 {
        justify-content: center;
        font-size: 1.3rem;
    }
    .resume-text p, .bike-text .list-projects {
        font-size: 1rem;
        margin-left: 50px;
    }
    
    .contact-container {
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr;
        width: 100%;
    }
    .head-contact{
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .email img, .instagram img, .linkedin img{
        width: 100px;
    }
    .email, .instagram, .linkedin {
        font-size: 1rem;
    }
    .email {
        grid-row: 2;
    }
    .instagram {
        grid-row: 3;
    }
    .linkedin{
        grid-row: 4;
    }
    .container-footer p {
        font-size: 0.5rem;
    }
}